/* Custom properties */
:root {
    --clr-very-dark-magenta-primary: hsl(300, 43%, 22%);
    --clr-soft-pin-primary: hsl(333, 80%, 67%);

    --clr-dark-grayish-magenta-neutral: hsl(303, 10%, 53%);
    --clr-light-grayish-magenta-neutral: hsl(300, 24%, 96%);
    --clr-white-neutral: hsl(0, 0%, 100%);

    --fw-light: 400;
    --fw-regular: 500;
    --fw-bold: 700;

    --ff-main: 'League Spartan', sans-serif;

    --fs-primary-heading: 2.5rem; /* 40px */
    --fs-body: 1.1875rem; /* 19px */
    --fs-extra-text: 1.0625rem; /* 17px */
}

@media (min-width: 50rem) {
    :root {
        --fs-primary-heading: 3.5rem; /* 56px */
        --fs-body: 1.1875rem; /* 19px */
        --fs-extra-text: 1.0625rem; /* 17px */
    }
}

/* CSS reset */
/* Credit: https://www.joshwcomeau.com/css/custom-css-reset/ */

/* Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
/* Remove default margin*/
* {
    margin: 0;
}
/* 3. Allow percentage-based heights in the application */
html, body {
    height: 100%;
}
/* Typographic tweaks! Add accessible line-height, improve text rendering */
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}
/* Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* Remove built-in form typography styles */
input, button, textarea, select {
    font: inherit;
}
/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* Smaller line height for larger font sizes */
h1 {
    line-height: 1;
}


/* General spacing/styling for desktop and mobile */
body {
    font-family: var(--ff-main);
    padding-top: 7rem;
    text-align: center;
    background-image: 
        url('./images/bg-pattern-top-mobile.svg'),
        url('./images/bg-pattern-bottom-mobile.svg');
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

.container {
    max-width: 74rem;
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
}

.header-section {
    margin-bottom: 4rem;
}

@media (min-width: 50rem) {
    .header-section {
        display: flex;
        text-align: left;
        gap: 10%;
    } 

    .testimonials {
        display: flex;
    }

    body {
    background-image: 
        url('./images/bg-pattern-top-desktop.svg'),
        url('./images/bg-pattern-bottom-desktop.svg');
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: 50%, 50%;
    }
} 

/* Main header text styling */
h1 {
    font-size: var(--fs-primary-heading);
    color: var(--clr-very-dark-magenta-primary);
    font-weight: var(--fw-bold);
    line-height: 1;
    max-width: 15ch;
    margin-left: auto;
    margin-right: auto;
}

.main-text p {
    font-weight: var(--fw-light);
    line-height: 1.56rem;
    color: var(--clr-dark-grayish-magenta-neutral);
    font-size: var(--fs-body);
    max-width: 40ch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

@media (min-width: 50rem) {
    .main-text p {
        margin-left: 0;
    }
}

/* Reviews styling */
.reviews {
    padding-left: 0;
}

.review {
    background-color: var(--clr-light-grayish-magenta-neutral);
    color: var(--clr-very-dark-magenta-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-extra-text);
    border-radius: 0.5rem;
    padding: 1rem 0 0.5rem 0;
    margin-top: 1rem;
    list-style: none;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}
   
.review-stars {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.review p {
    padding-top: 0.5rem;
}

@media (min-width: 50rem) {
    .review {
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        gap: 1rem;
    }

    .review-1 {
        transform: translateX(-3rem);
    }

    .review-3 {
        transform: translateX(3rem);
    }

    .review p {
        padding-top: 0;
    }
}

/* Testimonials styling */
.testimonials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.testimonial {
    background-color: var(--clr-very-dark-magenta-primary);
    border-radius: 0.5rem;
    text-align: left;
    padding: 2em;
    color: var(--clr-white-neutral);
    margin-bottom: 0.5rem;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.testimonial-header {
    display: flex;
    align-items: center;
    font-size: var(--fs-extra-text);
}
 
.testimonial-header img {
    border-radius: 50%; 
    margin-right: 1rem;
    width: 3rem;
}

.testimonial h2 {
    font-size: var(--fs-extra-text);
}

.testimonial-text p {
    color: var(--clr-soft-pin-primary);
    line-height: 1rem;
}

.testimonial-quote {
    margin-top: 1rem;
    line-height: 1.5rem;
    font-size: var(--fs-extra-text);
    font-weight: var(--fw-light);
}

@media (min-width: 50rem) {
    .testimonials {
        flex-direction: row;
    }

    .testimonial {
        max-width: 30rem;
    }

    .testimonial-2 {
        transform: translateY(1rem);
    }

    .testimonial-3 {
        transform: translateY(2rem);
    }
}
